apiVersion: v1
kind: ConfigMap
metadata:
  name: k6-script
  namespace: poc-compare
data:
  load.js: |
    import http from 'k6/http';
    import { sleep } from 'k6';
    export const options = {
      stages: [
        { duration: '30s', target: 20 },
        { duration: '60s', target: 60 },
        { duration: '30s', target: 0  },
      ],
      thresholds: {
        http_req_failed: ['rate<0.01'],
        http_req_duration: ['p(90)<2000'],
      },
    };
    export default function () {
      http.get(__ENV.TARGET);
      sleep(0.1);
    }
  stress.js: |
    import http from 'k6/http';
    import { sleep } from 'k6';
    export const options = {
      stages: [
        { duration: '30s', target: 50 },
        { duration: '30s', target: 200 },
        { duration: '30s', target: 500 },
        { duration: '30s', target: 800 },
        { duration: '1m', target: 1000 },
        { duration: '30s', target: 0 },
      ],
      thresholds: {
        http_req_failed: ['rate<0.05'],
        http_req_duration: ['p(90)<5000'],
      },
    };
    export default function () {
      http.get(__ENV.TARGET);
      sleep(0.1);
    }
