apiVersion: v1
kind: ConfigMap
metadata:
  name: k6-script
  namespace: poc-compare
data:
  load.js: |
    import http from 'k6/http';
    import { sleep } from 'k6';
    export const options = {
      stages: [
        { duration: '30s', target: 20 },
        { duration: '60s', target: 60 },
        { duration: '30s', target: 0  },
      ],
      thresholds: {
        http_req_failed: ['rate<0.01'],
        http_req_duration: ['p(90)<2000'],
      },
    };
    export default function () {
      http.get(__ENV.TARGET);
      sleep(0.1);
    }
  stress.js: |
    import http from 'k6/http';
    import { sleep } from 'k6';
    export const options = {
      stages: [
        { duration: '30s', target: 50 },
        { duration: '30s', target: 200 },
        { duration: '30s', target: 500 },
        { duration: '30s', target: 800 },
        { duration: '1m', target: 1000 },
        { duration: '30s', target: 0 },
      ],
      thresholds: {
        http_req_failed: ['rate<0.05'],
        http_req_duration: ['p(90)<5000'],
      },
    };
    export default function () {
      http.get(__ENV.TARGET);
      sleep(0.1);
    }


---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-fastapi
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://fastapi.poc-compare.svc.cluster.local/cpu"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0

---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-golang
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://golang.poc-compare.svc.cluster.local/cpu"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0

---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-golang-base
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://golang.poc-compare.svc.cluster.local/health"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0

---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-fastapi-base
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://fastapi.poc-compare.svc.cluster.local/health"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0

---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-golang-io
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://golang.poc-compare.svc.cluster.local/io"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0

---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-fastapi-io
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://fastapi.poc-compare.svc.cluster.local/io"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0

---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-fastapi-json
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://fastapi.poc-compare.svc.cluster.local/json"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0

---
apiVersion: batch/v1
kind: Job
metadata:
  name: k6-golang-json
  namespace: poc-compare
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: k6
          image: grafana/k6:0.47.0
          env:
            - name: TARGET
              value: "http://golang.poc-compare.svc.cluster.local/json"
          args: ["run", "/load.js"]
          volumeMounts:
            - name: script
              mountPath: /load.js
              subPath: load.js
      volumes:
        - name: script
          configMap:
            name: k6-script
  backoffLimit: 0
